<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"/>
  <meta name="application-name" content="CREATIVE SURVEY"/>
	<!-- for iOS Devices -->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<!-- for iOS Devices -->
	<title>api-debug-button</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/<%- entry %>.css"/>
</head>
<body>
<div id="App"><%- template -%></div>
<script type="text/javascript" src="/javascripts/<%- entry %>.js"></script>
</body>
</html>
