<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimal-ui" name="viewport"/>
	<meta name="application-name" content="CREATIVE SURVEY"/>

	<!-- for iOS Devices -->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<!-- for iOS Devices -->

	<!-- for IE 11 tile pin -->
	<meta name="msapplication-TileColor" content="#f6f6f6"/>
	<meta name="msapplication-square70x70logo" content="/tiny.png"/>
	<meta name="msapplication-square150x150logo" content="/square.png"/>
	<meta name="msapplication-wide310x150logo" content="/wide.png"/>
	<meta name="msapplication-square310x310logo" content="/large.png"/>
	<!-- for IE 11 tile pin -->


	<title>api-debug-button</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/<%- entry %>.css"/>
</head>
<body>
<div id="App"></div>
<script type="text/javascript" src="/javascripts/<%- entry %>.js"></script>
</body>
</html>